// Variables
$backgroundColor: rgba(34, 180, 171, 0.06);
$redAccent: #ff4043;
$greenAccent: #22b4ab;
$fontColor: #1B3454;
$white: #fff;
$green: #137450;
$red: #FC4145;
$yellow: #FAC722;
$fontStrong: 'Montserrat';
$fontText: 'Roboto';

$breakpoints: (
    'mobile': 480px,
    'tablet': 768px,
    'desktop': 1024px,
    'large-desktop': 1200px,
);